.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 5rem);
  padding: 4rem;
  justify-content: center;

  @media (max-width: 1024px) {
    padding: 2rem;
  }

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  max-width: 1080px;

  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.5);

  h2 {
    margin-top: 1rem;
  }
  span {
    margin-top: 0.5rem;
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;

  img {
    height: 100%;
    width: auto;
    position: absolute;
  }
}
