.filter {
  width: 100%;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  height: max-content;
  padding: 2rem;
  max-width: 728px;
  min-width: 350px;

  > .form {
    width: 100%;

    > div {
      margin-top: 10px;
    }

    label {
      font-size: 1.1rem;
      font-weight: bold;
    }

    button,
    input,
    select,
    input[type="color"] {
      width: 100%;
    }

    input,
    select {
      height: 50px;
      border-radius: 8px;
      padding: 0 16px;
      background: var(--white);
      border: 1px solid var(--cyan-700);
    }
  }
}

.searchButton {
  margin-top: 1.5rem;
}

.colors {
  display: inline-flex;
  flex-wrap: wrap;
}

.color {
  height: "20px";
  width: "20px";
  cursor: pointer;
  transition: transform 0.2s;
}

.color:hover {
  transform: scale(1.1);
}
